@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-surface-neutral-opaque-subtle, #eee);
}

/* Logo design */
.logo-center {
    display: flex;
    width: 27vh;
    height: 27vh;
    background-image: url("./images/logo.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
}
  
.logo-bg-square {
    background-color: white;
    width: 28vh;
    height: 28vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 0-------------------------------------------------------------------------0 */


/* Scrollbar design */
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-track-piece {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #34495E;
}
/* 1-------------------------------------------------------------------------1 */


/* General design rules */
.background-whitesmoke {
  background-color: var(--color-surface-neutral-opaque-subtle, #eee);
}

.header-footer-bg-midnightblue {
  background-color: #2C3E50;
}

.primary-buttons-links-bg-electricblue {
  background-color: #3498DB;
}

.secondary-actions-bg-crimsonred {
  background-color: #E74C3C;
}

.highlight-cta-bg-solaryellow {
  background-color: #F1C40F;
}

.text-jetblack {
  color: #2C3E50;
  font-size: 1.8vh;
}

.text-whitesmoke {
  color: var(--color-surface-neutral-opaque-subtle, #eee);
  font-size: 1.8vh;
}
/* 2-------------------------------------------------------------------------2 */


/* Main screen design */
.landing-screen {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/landing-screen-ClubMed_Restaurant_photo8.jpg"); 
    background-size: cover;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  --tw-blur: blur(0px) !important;
}

.landing-screen-top-half {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
}
/* 3-------------------------------------------------------------------------3 */


/* Center line with details and about us link design */
.details {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 55vw;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5vh;
}

.details-left {
    position: absolute;
}

.details-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.details-right {
    position: absolute;
    right: 0;
}

.details-middle:hover {
    text-decoration: underline;
}
/* 4-------------------------------------------------------------------------4 */


/* Presentations design */
/* Main container */
.presentations-container {
    display: flex;
    height: 50vh;
    width: 55vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    border-top: 0.8px solid white;
}

/* Sub containers */
.presentation-left {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("./images/presentation-left-software.jpg");
    background-size: cover;
    border: 0.8px solid white;
}

.presentation-middle {
    z-index: 3;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("./images/presentation-middle-integrations.png");
    background-size: cover;
    border: 0.8px solid white;
}

.presentation-right {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("./images/presentation-right-solar.jpg");
    background-size: cover;
    border: 0.8px solid white;
}

.presentation-left:hover, .presentation-middle:hover, .presentation-right:hover {
    width: 36vh;
    height: 24vh;
    box-shadow: 0 0.5px 5px 1px white;
}

/* Headers of sub containers */
.header-p {
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.5)
}

.header-left {
    z-index: 2;
    display: flex;
    width: 100%;
    height: max-content;
}
  
.header-middle {
    z-index: 2;
    display: flex;
    width: 100%;
    height: max-content;
}
  
.header-right {
    z-index: 2;
    display: flex;
    width: 100%;
    height: max-content;
}
/* 5-------------------------------------------------------------------------5 */


/* About us screen section design */
.div-1 {
  z-index: 1;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--color-surface-neutral-opaque-subtle, #eee);
  background-size: cover;
}

.div-1-subdiv {
  z-index: 2;
  display: flex;
  width: 95vw;
  height: 80vh;
  background-color: #2C3E50;
  position: absolute;
  right: 0;
  bottom: 0;
}
.div-1b-subdiv {
  z-index: 2;
  display: flex;
  width: 95vw;
  height: 80vh;
  background-color: #2C3E50;
  position: absolute;
  left: 0;
  bottom: 0;
}

.div-1-header {
  display: flex;
  position: absolute;
  left: 7.5vw;
  top: 10vh;
  transform: translateY(-50%);
  font-size: x-large;
  color: #2C3E50;
}
.div-1b-header {
  display: flex;
  position: absolute;
  right: 7.5vw;
  top: 10vh;
  transform: translateY(-50%);
  font-size: x-large;
  color: #2C3E50;
}

.div-1-text {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin-left: 2.5vw;
  color: var(--color-surface-neutral-opaque-subtle, #eee);
}

.div-1 p {
  font-size: xx-small;
}

.div-1-portfolio-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2.5vw;
  bottom: 2.5vw;
  width: auto;
  height: auto;
  justify-content: end;
  align-items: end;
}

.div-1-portfolio-subcontainer {
  display: flex;
  flex-direction: row;
}

.div-1-pics {
  margin: 1vh;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
}

.pic-normal {
  width: 13vw;
}
.pic-xl {
  width: 30vw;
}
.pic1-about-us {
  background-image: url("./images/pic1-zilwa.jpg");
}
.pic2-about-us {
  background-image: url("./images/pic2-villa-audio.jpg");
}
.pic3-about-us {
  background-image: url("./images/pic3-band.jpg");
}
.pic4-about-us {
  background-image: url("./images/pic4-lakelights.png");
}
.pic5-about-us {
  background-image: url("./images/pic5-ClubMed_Restaurant.jpg");
}
.pic6-about-us {
  background-image: url("./images/pic6-ClubMed_Restaurant.jpg");
}
/* 6-------------------------------------------------------------------------6 */


.our-brands-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.our-brands-container-logos {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100vw;
  background-color: silver;
}

.our-brands-container h1 {
  position: relative;
  left: 7.5vw;
  font-size: x-large;
  width: 45vw;
  font-weight: 600;
  color: #2C3E50;
}

.logo-pics {
  margin: 1vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 6vh;
  width: 15vw;
}

.logo1 {
  background-image: url("./images/logo1-audac.jpg");
}
.logo2 {
  background-image: url("./images/logo2-Cabasse.png");
}
.logo3 {
  background-image: url("./images/logo3-cambridge-sound-masking.png");
}
.logo4 {
  background-image: url("./images/logo4-D.A.S-audio.png");
}
.logo5 {
  background-image: url("./images/logo5-db-technologies-.png");
}
.logo6 {
  background-image: url("./images/logo6-NEXT_audiogroup.png");
}
.logo7 {
  background-image: url("./images/logo7-TOA.png");
}