@tailwind base;
@tailwind components;
@tailwind utilities;

/* General design rules */
.background-whitesmoke {
  background-color: #ECF0F1;
}

.header-footer-bg-midnightblue {
  background-color: #2C3E50;
}

.primary-buttons-links-bg-electricblue {
  background-color: #3498DB;
}

.secondary-actions-bg-crimsonred {
  background-color: #E74C3C;
}

.highlight-cta-bg-solaryellow {
  background-color: #F1C40F;
}

.text-jetblack {
  color: #2C3E50;
  font-size: 1.8vh;
}

.text-whitesmoke {
  color: #ECF0F1;
  font-size: 1.8vh;
}
/* --- */

/* Header design */
header {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.header-section-logo {
  display: flex;
  position: absolute;
  height: 10vh;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.header-section-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  width: 40vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
/* --- */

.landing-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/ClubMed_Restaurant_Photo8-min.jpg"); 
  background-size: cover;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  --tw-blur: blur(0px) !important;
}

.landing-screen-left-half {
  display: flex;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
}

.logo-center {
  display: flex;
  width: 27vh;
  height: 27vh;
  background-image: url("./images/logo.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
}

.logo-bg-square {
  background-color: white;
  width: 28vh;
  height: 28vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.presentations-container {
  display: flex;
  height: 50vh;
  position: absolute;
  left: 50%;
  right: 5%;
  bottom: 50%;
  transform: translateY(50%);
}

.header-p {
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.5)
}

.header-left {
  z-index: 2;
  display: flex;
  width: 30vh;
  height: 20vh;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-middle {
  z-index: 4;
  display: flex;
  width: 40vh;
  height: 28vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-right {
  z-index: 2;
  display: flex;
  width: 30vh;
  height: 20vh;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.presentation-left {
  z-index: 1;
  display: flex;
  width: 30vh;
  height: 20vh;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./images/software-presentation-left.jpg");
  background-size: cover;
  border: 0.8px solid white;
}

.presentation-middle {
  z-index: 3;
  display: flex;
  width: 40vh;
  height: 28vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/spex-integrations-presentation-middle.png");
  background-size: cover;
  border: 0.8px solid white;
}

.presentation-right {
  z-index: 1;
  display: flex;
  width: 30vh;
  height: 20vh;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./images/solar-presentation-right.jpg");
  background-size: cover;
  border: 0.8px solid white;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
