
.presentations-container-1b {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    right: 5%;
    bottom: 50%;
    transform: translateY(50%);
}

.presentation-top-1b {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/software-presentation-left.jpg");
    background-size: cover;
    border: 0.8px solid white;
    margin-bottom: 2.5%;
}

.presentation-middle-1b {
    z-index: 3;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/spex-integrations-presentation-middle.png");
    background-size: cover;
    border: 0.8px solid white;
    margin-bottom: 2.5%;
}

.presentation-bottom-1b {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/solar-presentation-right.jpg");
    background-size: cover;
    border: 0.8px solid white;
}

.header-left-1b {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: 23vh;
  }
  
  .header-middle-1b {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: 23vh;
    
  }
  
  .header-right-1b {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: 23vh;
  }