
.landing-screen-top-half {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
}

.details-1c {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 55vw;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5vh;
}

.details-left {
    position: absolute;
}

.details-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.details-right {
    position: absolute;
    right: 0;
}

.presentations-container-1c {
    display: flex;
    height: 50vh;
    width: 55vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    border-top: 0.8px solid white;
}

.presentation-left-1c {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/software-presentation-left.jpg");
    background-size: cover;
    border: 0.8px solid white;
}

.presentation-middle-1c {
    z-index: 3;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/spex-integrations-presentation-middle.png");
    background-size: cover;
    border: 0.8px solid white;
}

.presentation-left-1c:hover, .presentation-middle-1c:hover, .presentation-right-1c:hover {
    width: 36vh;
    height: 24vh;
    box-shadow: 0 2px 5px 2px white;
}

.presentation-right-1c {
    z-index: 1;
    display: flex;
    width: 35vh;
    height: 23vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/solar-presentation-right.jpg");
    background-size: cover;
    border: 0.8px solid white;
}

.header-left-1c {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: max-content;
}
  
.header-middle-1c {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: max-content;
}
  
.header-right-1c {
    z-index: 2;
    display: flex;
    width: 35vh;
    height: max-content;
}